---
import Layout from '../layouts/Layout.astro';
---

<Layout
	title="Feats"
	description="Dorikyh's development feats."
	>
	<main>
		<div class="my-20">
			<h1 class="text-center sm:text-8xl text-5xl font-semibold">Feats</h1>
			<p class="text-center text-2xl text-zinc-400">Development feats</p>

			<div class="mt-20">
				<h2 class="text-4xl font-semibold">2021</h2>
				<ul class="mt-5">
					<li class="text-2xl">Created <a href="https://dorikyh.github.io/astro-portfolio/" class="text-blue-500">Astro Portfolio</a></li>
					</div>
		</div>

	</main>
</Layout>

