---
import Layout from '../layouts/Layout.astro';
---

<Layout
	title="Feats"
	description="Dorikyh's development feats."
	>
	<main>
		<div class="my-20">
			<h1 class="text-center sm:text-8xl text-7xl font-semibold">Feats</h1>
			<p class="text-center text-2xl text-zinc-400">Development feats</p>
		</div>

	</main>
</Layout>

