---
import Layout from '../layouts/Layout.astro';
---

<Layout
	title="Dorikyh - Software Developer"
	description="Dorikyh, backend developer with 3 years of experience in web development, developer of Kotone Bot"
	>
	<main>
		<div class="my-40">
			<h1 class="text-center sm:text-8xl text-7xl font-semibold">Dorikyh</h1>
			<p class="text-center text-2xl text-zinc-400">Backend Developer</p>
		</div>
		<div class="my-12">
			<h2 class="text-4xl font-semibold">About Me</h2>
			<p class="text-lg">I'm a backend developer with 3 years of experience in web development.</p>
		</div>
	</main>
</Layout>

