---
import Layout from '../layouts/Layout.astro';
---

<Layout
	title="Portfolio"
	description="Dorikyh, backend developer with 3 years of experience in web development, developer of Kotone Bot"
	>
	<main>
		<div class="my-20">
			<h1 class="text-center sm:text-8xl text-6xl font-semibold">Dorikyh</h1>
			<p class="text-center text-xl text-zinc-400">Backend Developer</p>
		</div>
		<div class="my-6">
			<h2 class="text-3xl font-semibold">About Me</h2>
			<p>I'm a software developer with 3 years of experience in web development.</p>
		</div>
		<div class="my-6">
			<h2 class="text-3xl font-semibold mb-4">Projects</h2>
			<div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
				<div class="bg-zinc-800 p-4 rounded-lg">
					<h3 class="text-2xl font-semibold">Kotone Bot</h3>
					<p class="mb-4">Discord Bot made with Python with 10K Servers and 300K Users<p>
					<a class=" bg-zinc-500 text-white px-4 py-2 rounded-lg"
					   href="https://kotone.tech">More Info</a>
				</div>
				<div class="bg-zinc-800 p-4 rounded-lg">
					<h3 class="text-2xl font-semibold">Kotone Dashboard</h3>
					<p class="mb-4">Made with ReactJS let users to interact with Kotone using a webpage.<p>
					<a class=" bg-zinc-500 text-white px-4 py-2 rounded-lg"
					   href="https://kotone.tech">More Info</a>
				</div>
			</div>
		
		</div>
	</main>
</Layout>

