---
import Layout from '../layouts/Layout.astro';
---

<Layout
	title="Portfolio"
	description="Dorikyh, backend developer with 3 years of experience in web development, developer of Kotone Bot"
	>
	<main>
		<div class="my-20">
			<h1 class="text-center sm:text-8xl text-7xl font-semibold">Dorikyh</h1>
			<p class="text-center text-2xl text-zinc-400">Backend Developer</p>
			
		</div>
		<div class="my-12">
			<h2 class="text-4xl font-semibold mb-1">About Me</h2>
			<p class="sm:text-lg text-sm">I'm a software developer with 3 years of experience in web development.</p>
		</div>
	</main>
</Layout>

