---
import Layout from '../layouts/Layout.astro';
---

<Layout
	title="Projects"
	description="Dorikyh's development projects."
	>
	<main>
		<div class="my-20">
			<h1 class="text-center sm:text-8xl text-7xl font-semibold">Projects</h1>
			<p class="text-center text-2xl text-zinc-400">Development projects</p>
		</div>

	</main>
</Layout>

