---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
import Navbar from '../components/navbar.astro';
import Footer from '../components/footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	
	<body class="dark:bg-zinc-900 dark:text-white bg-white text-black font-sans">
		<Navbar />
		<div class="flex flex-col text-sm py-9">
			<div class="px-4 py-2 justify-center text-base md:gap-6 m-auto">
				<slot/>
			</div>
		</div>
	</body>
	<Footer />
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

</style>
