---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
import Navbar from '../components/navbar.astro';
import Footer from '../components/footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Dorikyh - {title}</title>
		<meta name="description" content={description} />
	</head>
	
	<body class="dark:bg-zinc-900 dark:text-zinc-200 bg-white text-zinc-900 font-sans">
		<Navbar />
		<div class="flex justify-center items-center h-screen sm:my-2 my-16">
			<div class="w-full max-w-screen-md p-4 overflow-y-auto">
				<slot/>
			</div>
		</div>
	</body>

	<Footer />
</html>
